@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1132px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.repair{
    padding: 72px 0 40px 0;
    background: url('./images/background/Первый-блок.jpg');
}

.repair-wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.repair-content{
    display: flex;
    align-items: center;
    gap: 30px;
}

.repair-content-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.repair-title{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
}

.repair-text{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

.engineer{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 144px 40px 40px;
    border-radius: 20px;
}

.engineer-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.engineer-text{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.engineer-btn-wrapper{
    display: flex;
    gap: 15px;
}

.social-btn{
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    border: none;
    display: flex;
    height: fit-content;
}

.engineer-img{
    width: 21px;
    height: 21px;
}

.engineer-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.engineer-input{
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
}

.engineer-btn{
    padding: 18px 66px;
    font-size: 15px;
    border-radius: 65px;
    color: rgb(61, 61, 61);
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.mouse-img-wrapper{
    display: flex;
    justify-content: center;
}

.mouse-img{
    width: 23px;
    height: 37px;
}

.price-list{
    padding-top: 110px;
    padding-bottom: 90px;
}

.price-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.line{
    width: 115px;
    height: 2px;
    background-color: rgb(61, 80, 255);
    margin-bottom: 17px;
}

.title{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: rgb(61, 61, 61);
}

.price-list-content{
    background: rgb(255, 255, 255);
    padding: 40px 40px 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

table{
    padding-bottom: 40px; 
    width: 100%;
}

.custom{
    background: rgb(249, 249, 249);
}

th{
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 12px 0 12px 0;
}

td{
    padding: 12px 0 12px 0;
    color: rgb(61, 61, 61);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.price-list-add-content-wrapper{
    display: none;
}

.table-add-title{
    display: none;
}

.add-table-item{
    display: none;
}

.price-engineer{
    background: url('./images/background/Первый-блок.jpg') right no-repeat;
}

.work{
    padding-bottom: 110px;
}

.work-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.work-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.work-item-wrapper{
    display: flex;
    justify-content: space-between;
}

.work-item{
    padding: 40px;
    display: flex;
    gap: 30px;
    max-width: 546px;
    max-height: 205px;
    border-radius: 20px;
    box-shadow: 4px 6px 50px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.work-item-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-item-text{
    max-width: 366px;
    font-size: 15px;
}

.work-item-img{
    width: 70px;
    height: 70px;
}

.work-custom-item-img{
    width: 140px;
    height: 121px;
}

.work-custom-wrapper{
    background: linear-gradient(138.33deg, rgb(0, 120, 232) 7.453%,rgb(122, 9, 227) 98.097%);
}

.work-custom-item-title,
.work-custom-item-text{
    color: #fff;
}

.work-item-btn{
    padding: 15px 25px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 65px;
    font-size: 15px;
    line-height: 18px;
}

.work-item-custom-text-wrapper{
    gap: 15px;
}

.feedback{
    background: rgb(249, 249, 249);
    padding-bottom: 60px;
    padding-top: 50px;
}

.feedback-wrapper{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.feedback-content{
    display: flex;
    justify-content: space-between;
}

.feedback-item{
    box-shadow: 4px 6px 50px 0px rgba(0, 0, 0, 0.25);
    max-height: 600px;
    overflow: hidden;
    border-radius: 15px;
}

.feedback-item-2gis{
    display: flex;
    flex-direction: column;
}

.feedback-btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.feedback-btn{
    border-radius: 65px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
    background: linear-gradient(138.33deg, rgb(0, 120, 232) 8.163%,rgb(122, 9, 227) 97.916%);
    padding: 15px 30px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.slider{
    padding: 50px 0 110px 0;
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slider-slides-wrapper{
    display: flex;
    justify-content: space-between;
}

.slider-pagination{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.control-btn{
    display: flex;
    gap: 25px;
}

.price-engineer-active{
    display: none;
}

.swiper-button-prev,
.swiper-button-next{
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 9px 10px;
    border: 1px solid blue;
}

.title-answer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer{
    padding-bottom: 110px;
}

.answer-content-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.answer-items-wrapper{
    display: flex;
    justify-content: space-between;
}

.answer-item{
    width: 543px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: fit-content;
    border: 1px solid rgb(61, 80, 255);
    border-radius: 10px;
    align-items: center;
}

.answer-item-add-content{
    flex-direction: column;
    gap: 25px;
}

.answer-item-active{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.answer-btn{
    width: 23px;
    height: 11px;
    cursor: pointer;
}

.answer-item-title{
    color: rgb(61, 61, 61);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.answer-active-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.answer-line{
    width: 100%;
    height: 1px;
    background: rgb(215, 214, 214);
}

.answer-text{
    display: flex;
    width: fit-content;
    font-size: 15px;
    line-height: 150%;
}

.answer-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.answer-input{
    padding: 12px 20px;
    border: 1px solid rgb(61, 80, 255);
    border-radius: 10px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
    outline: none;
    color: rgb(104, 104, 104);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.answer-btn-submit{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
    background: linear-gradient(138.33deg, rgb(0, 120, 232) 8.281%,rgb(122, 9, 227) 97.886%);
    border: none;
    padding: 19px;
    border-radius: 65px;
    cursor: pointer;
}

.broke{
    background: url(./images/background/Первый-блок.jpg);
}

.engineer-broke{
    background: none;
    padding: 70px 144px 80px 0;
}

.engineer-title{
font-size: 30px;
font-weight: 700;
line-height: 35px;
}

.engineer-sub-title{
    font-size: 16px;
}

.engineer-socials-wrapper{
    display: flex;
    gap: 20px;
}

.engineer-socials{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
}

@media (max-width: 1100px){
    .container{
        padding: 0 10px;
    }

    .work-item{
        padding: 30px;
    }

    .answer-item{
        padding: 15px;
        width: 520px;
    }

    .work-item-wrapper{
        gap: 20px;
    }

    .slide-img{
        width: 330px;
    }
}

@media (max-width: 1000px){
    .work-item{
        padding: 18px;
    }

    .work-item-title{
        font-size: 20px;
    }

    .work-item-img{
        width: 50px;
        height: 50px;
    }

    .work-item-text{
        font-size: 13px;
    }

    .title{
        font-size: 30px;
    }

    .repair-title{
        font-size: 30px;
    }

    .repair-text{
        font-size: 15px;
    }

    .repair-img{
        width: 450px;
    }

    .repair-content{
        gap: 0;
        justify-content: space-between;
    }

    th{
        font-size: 13px;
    }

    td{
        font-size: 12px;
    }

    .feedback-content{
        align-items: center;
        gap: 50px;
        flex-direction: column;
    }

    .slider-slides-wrapper{
        justify-content: space-around;
    }

    .swiper-slide-hide{
        display: none;
    }

    .answer-item-title{
        font-size: 15px;
    }

    .answer-text{
        font-size: 12px;
    }
    
    .answer-input{
        font-size: 12px;
    }

    .answer-item{
        width: 470px;
    }

    .engineer-text{
        font-size: 15px;
    }

    .engineer-img{
        width: 15px;
        height: 15px;
    }

    .engineer-input{
        font-size: 12px;
    }

    .engineer-btn,
    .work-item-btn,
    .feedback-btn,
    .answer-btn-submit{
        font-size: 13px;
    }
}

@media (max-width: 900px){

    .work-content{
        gap: 30px;
    }

    .work-item-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .answer-items-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 700px){
    .repair-img{
        display: none;
    }

    .repair-title{
        font-size: 40px;
    }

    .repair-text{
        font-size: 20px;
    }

    .engineer{
        padding: 40px;
        flex-direction: column;
        gap: 50px;
    }

    .engineer-text{
        font-size: 20px;
        text-align: center;
    }

    .remove-table-item{
        display: none;
    }

    .add-table-item{
        display: block;
    }

    .engineer-btn-wrapper{
        justify-content: center;
    }

    .engineer-img{
        width: 21px;
        height: 21px;
    }

    .engineer-input,
    .answer-input{
        font-size: 17px;
    }

    .engineer-btn,
    .answer-btn-submit{
        font-size: 15px;
    }

    .mouse-img-wrapper{
        display: none;
    }

    .title{
        font-size: 40px;
    }

    .price-list-add-content-wrapper{
        display: flex;
        justify-content: space-around;
    }

    .price-list-add-content{
    color: rgb(61, 61, 61);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 50px;
    background-color: inherit;
    }

    .price-list-add-content-active{
        border: 2px solid rgb(61, 80, 255);
    }

    .table-add-title{
        display: block;
        color: rgb(61, 61, 61);
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
    }

    th{
        font-size: 16px;
    }

    td{
        font-size: 15px;
    }

    .price-engineer-remove{
        display: none;
    }

    .price-engineer-active{
        display: flex;
        border-radius: 10px;
    }

    .work-item{
        width: 545px;
        padding: 40px;
    }

    .work-item-img{
        width: 70px;
        height: 70px;
    }

    .work-item-text,
    .work-item-btn{
        font-size: 15px;
    }

    .slider-pagination{
        justify-content: end;
    }

    .answer-item{
        width: 545px;
    }

    .answer-item-title{
        font-size: 20px;
    }

    .answer-text{
        font-size: 15px;
    }
    
    .engineer-title{
        font-size: 30px;
    }

    .engineer-socials-wrapper{
        justify-content: center;
    }

    .slide-img{
        width: 272px;
        height: 250px;
    }
}

@media (max-width: 600px){
    .swiper-slide-hide-next{
        display: none;
    }

    .work-item{
        width: fit-content;
        padding: 25px;
    }

    .work-item-text-wrapper{
        gap: 15px;
    }

    .work-item-text{
        font-size: 12px;
    }

    .work-item-img{
        width: 45px;
        height: 45px;
    }

    .answer-item,
    .answer-item-active{
        width: fit-content;
        gap: 20px;
    }

    .price-list-add-content{
        font-size: 12px;
    }

    .feedback-item{
        max-width: 350px;
    }
}